# Project requirements
python==3.10.6
streamlit==1.35.0
TA_Lib-0.4.28-cp310-cp310-win_amd64.whl
numpy==1.24.4
pandas==2.2.3
plotly==5.11.0
yfinance==0.2.20
TA-Lib @ file:///C:/Users/raksk/Documents/GitHub/bitcoin-stock-portfolio/TA_Lib-0.4.28-cp310-cp310-win_amd64.whl#sha256=c4ba337d31a2c83e71696dad7ea9b2e3f0bbe9c303c06bad2de0736243702d5e
scikit-learn==1.1.3
prophet==1.1.5

